<footer class="footer">
  <div class="wrapper">
    <div class="footer__social">
      <div class="footer__logo">Insiter</div>
      <ul class="footer__social--list">
        <li>
          <a
            href="<%= data.site.facebook_url %>"
            target="_blank"
            rel="noopener noreferrer">
            <%= svg 'facebook' %>
          </a>
        </li>
        <li>
          <a
            href="<%= data.site.instagram_url %>"
            target="_blank"
            rel="noopener noreferrer">
            <%= svg 'instagram' %>
          </a>
        </li>
        <li>
          <a
            href="<%= data.site.twitter_url %>"
            target="_blank"
            rel="noopener noreferrer">
            <%= svg 'twitter-rounded' %>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__separator"></div>
    <div class="footer__editions">
      <p class="footer__editions--title">Edições anteriores</p>
      <ul class="footer__editions--list">
        <li><a href="/2018/gyn">Goiânia 2018</a></li>
        <li><a href="/2017/poa">Porto Alegre 2017</a></li>
        <li><a href="/2017/the">Teresina 2017</a></li>
      </ul>
    </div>
  </div>
</footer>
