<header class="hero">

  <div class="hero__content wrapper">
    <div class="hero__info"><%= data.site.date %></div>

    <h1 class="hero__slogan"><%= data.site.description %></h1>

    <p class="hero__info hero__info--small">
      <strong><%= data.site.venue %> - <%= data.site.location %></strong>
    </p>

    <%= partial 'partials/counter' %>
  </div>
</header>
