<section id="schedule" class="schedule">
  <div class="container">
    <h2 class="heading">Agenda</h2>

    <ul class="schedule-list">
      <% data.schedule.talks.each do |talk| %>
        <li class="schedule-list-item">
          <article class="schedule-list-article">
            <header class="schedule-list-header">
              <time class="schedule-list-time">
                <%= image_tag 'icon_clock.svg', class: 'schedule-list-time-icon', alt: talk.time %>
                <%= talk.time %>

              </time>
              <h1 class="schedule-list-title"><%= talk.title %></h1>
              <% if talk.people? %>
              <h2 class="schedule-list-subtitle"><i>Por: <%= talk.people %></i></h2>
              <% end %>
            </header>
            <section class="schedule-list-description">
              <p><%= talk.description %></p>
            </section>
          </article>
        </li>
      <% end %>
    </ul>
  </div>
</section>
