<div class="speakers">
  <h3 class="speakers__title">Speakers <span>.</span></h3>
  <div class="speakers__separator"></div>

  <div class="speakers__container">

    <div class="speakers__speaker">
      <div class="speakers__social">
        <a href="" class="speakers__media"> <%= partial 'partials/svg/logo-facebook-black' %></a>
        <a href="" class="speakers__media"> <%= partial 'partials/svg/logo-twitter-black' %></a>
        <a href="" class="speakers__media"> <%= partial 'partials/svg/logo-linkedin-black' %></a>
        <a href="" class="speakers__media"> <%= partial 'partials/svg/logo-instagram-black' %></a>
      </div>

      <div class="speakers__info">
        <img class="speakers__info__photo" src="http://evently.mikado-themes.com/wp-content/uploads/2017/06/design-team-img-2.jpg" alt="Ada Patterson">
        <div class="speakers__info__description">
          <h4 class="speakers__info__name">Palestrante Foo</h4>
          <span class="speakers__info__role">Developer at Codeminer 42</span>
          <p class="speakers__info__subject">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptas laudantium aspernatur accusantium omnis accusamus sapiente enim ratione nam ad quibusdam, vero itaque quae natus! Quos illum quas eos voluptatibus?</p>
        </div>
      </div>
    </div>

    <div class="speakers__speaker">
      <div class="speakers__social">
        <a href="" class="speakers__media"> <%= partial 'partials/svg/logo-facebook-black' %></a>
        <a href="" class="speakers__media"> <%= partial 'partials/svg/logo-twitter-black' %></a>
        <a href="" class="speakers__media"> <%= partial 'partials/svg/logo-linkedin-black' %></a>
        <a href="" class="speakers__media"> <%= partial 'partials/svg/logo-instagram-black' %></a>
      </div>

      <div class="speakers__info">
        <img class="speakers__info__photo" src="http://evently.mikado-themes.com/wp-content/uploads/2017/06/design-team-img-2.jpg" alt="Ada Patterson">
        <div class="speakers__info__description">
          <h4 class="speakers__info__name">Palestrante Foo</h4>
          <span class="speakers__info__role">Developer at Codeminer 42</span>
          <p class="speakers__info__subject">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptas laudantium aspernatur accusantium omnis accusamus sapiente enim ratione nam ad quibusdam, vero itaque quae natus! Quos illum quas eos voluptatibus?</p>
        </div>
      </div>
    </div>

    <div class="speakers__speaker">
      <div class="speakers__social">
        <a href="" class="speakers__media"> <%= partial 'partials/svg/logo-facebook-black' %></a>
        <a href="" class="speakers__media"> <%= partial 'partials/svg/logo-twitter-black' %></a>
        <a href="" class="speakers__media"> <%= partial 'partials/svg/logo-linkedin-black' %></a>
        <a href="" class="speakers__media"> <%= partial 'partials/svg/logo-instagram-black' %></a>
      </div>

      <div class="speakers__info">
        <img class="speakers__info__photo" src="http://evently.mikado-themes.com/wp-content/uploads/2017/06/design-team-img-2.jpg" alt="Ada Patterson">
        <div class="speakers__info__description">
          <h4 class="speakers__info__name">Palestrante Foo</h4>
          <span class="speakers__info__role">Developer at Codeminer 42</span>
          <p class="speakers__info__subject">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptas laudantium aspernatur accusantium omnis accusamus sapiente enim ratione nam ad quibusdam, vero itaque quae natus! Quos illum quas eos voluptatibus?</p>
        </div>
      </div>
    </div>

  </div>


</div>
