<section id="speakers" class="section speaker">
  <div class="wrapper">
    <div class="section__title section__title--light">
      <h1><span>Palestrantes</span></h1>
    </div>
    <div class="speaker__list">
      <% data.speakers.people.each do |speaker| %>
      <div class="speaker__item">
        <figure class="speaker__picture">
          <%= image_tag speaker.picture, :alt => speaker.name %>
          <div class="speaker__social">
            <div class="icons">
              <a
                href="https://twitter.com/<%= speaker.social.twitter %>"
                target="_blank"
                rel="noreferrer noopener">
                <%= svg 'twitter' %>
              </a>
              <a
                href="https://github.com/<%= speaker.social.github %>"
                target="_blank"
                rel="noreferrer noopener">
                <%= svg 'github' %>
              </a>
              <a
                href="https://linkedin.com/in/<%= speaker.social.linkedin %>"
                target="_blank"
                rel="noreferrer noopener">
                <%= svg 'linkedin' %>
              </a>
            </div>
          </div>
        </figure>
        <legend class="speaker__details">
          <div class="speaker__name"><%= speaker.name %></div>
          <div class="speaker__position">
            <%= speaker.company.rule %> |
            <a
              href="<%= speaker.company.link %>"
              target="_blank"
              rel="noopener noreferrer">
              <%= speaker.company.name %>
            </a>
          </div>
          <div class="speaker__social">
            <div class="icons">
              <a
                href="https://twitter.com/<%= speaker.social.twitter %>"
                target="_blank"
                rel="noreferrer noopener">
                <%= svg 'twitter' %>
              </a>
              <a
                href="https://github.com/<%= speaker.social.github %>"
                target="_blank"
                rel="noreferrer noopener">
                <%= svg 'github' %>
              </a>
              <a
                href="https://linkedin.com/in/<%= speaker.social.linkedin %>"
                target="_blank"
                rel="noreferrer noopener">
                <%= svg 'linkedin' %>
              </a>
            </div>
          </div>
        </legend>
      </div>
      <% end %>
    </div>
  </div>
</section>
