<section id="speakers" class="speakers">
  <div class="container">
    <h2 class="heading">Palestrantes</h2>

    <ul class="speaker-list">
      <% data.speakers.people.each do |speaker| %>
        <li class="speaker-item">
          <figure class="speaker-avatar speaker-avatar-<%= speaker.color if speaker.color? %>">
            <img src="<%= speaker.picture %>" />
          </figure>
          <h3 class="speaker-name">
            <%= speaker.name %>
          </h3>
          <p class="speaker-company">
            <a class="speaker-link" href="<%= speaker.company.link %>" target="_blank">
              <%= speaker.company.name %>
            </a>
          </p>
          <p class="speaker-github">
            <a class="speaker-link" href="//github.com/<%= speaker.github %>">
              @<%= speaker.github %>
            </a>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</section>
