<section id="presented" class="staff">
  <div class="container">
    <h2 class="heading">Patrocínio</h2>
      <div class="staff-content">
        <%= image_tag 'logo_globo.png', class: 'sponsor-img' %>
      </div>

    <h2 class="heading">Apoio</h2>
      <div class="partner-content">
        <%= image_tag 'logo_fecomercio_senac.png', class: 'partner-img' %>
        <%= image_tag 'logo_faculdade_senac.png', class: 'partner-img' %>
        <%= image_tag 'logo_umbler.svg', class: 'partner-img' %>
      </div>
    <h2 class="heading">Realização</h2>

    <div class="staff-content">
      <a class="staff-codeminer" href="http://www.codeminer42.com/" title="Realização Codeminer 42">
        <%= image_tag 'logo_codeminer42.svg', class: 'staff-codeminer-img', alt: 'Codeminer42 Logotipo' %>
      </a>
    </div>

  </div>
</section>
