<footer class="footer">
  <div class="footer__content wrapper">

    <div class="footer__column footer__column--about">
      <h2 class="footer__logo">Insiter</h2>

      <p><%= data.goiania.first_edition.site.date %></p>
      <p>
        Faculdade Senac Santa Genoveva, <a href="//goo.gl/maps/3bqBK6SeLCp" title="Abrir no Google Maps" rel="external" target="_blank">Como chegar</a>
        <address>Av. Caiapó, 201-495 - Santa Genoveva, Goiânia - GO, 74672-400</address>
      </p>
    </div>

    <div class="footer__column">
      <h5 class="footer__section-title">Edições anteriores</h5>

      <ul class="footer__useful-links">
        <li>
          <a href="/2017/poa" title="Porto Alegre 2017">Porto Alegre 2017</a>
        </li>
        <li>
          <a href="/2017/the" title="Teresina 2017">Teresina 2017</a>
        </li>
      </ul>
    </div>

    <div class="footer__column footer__column--social">
      <h5 class="footer__section-title">Redes sociais</h5>

      <ul class="footer__social-media">
        <li>
          <a href="//facebook.com/InsiterConf" rel="external" target="_blank" title="Curta no Facebook">
            <%= partial 'partials/svg/footer/facebook' %>
          </a>
        </li>
        <li>
          <a href="//instagram.com/InsiterConf" rel="external" target="_blank" title="Siga no Instagram">
            <%= partial 'partials/svg/footer/instagram' %>
          </a>
        </li>
        <li>
          <a href="//twitter.com/InsiterConf" rel="external" target="_blank" title="Acompanhe no Twitter">
            <%= partial 'partials/svg/footer/twitter' %>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <a href="//codeminer42.com" class="footer__powered" rel="external" target="_blank" title="Organizado por Codeminer42">
    <%= image_tag '/2018/goiania/images/codeminer-white.png', alt: 'Codeminer42' %>
  </a>
</footer>
